<table class="topmenu" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td><%= link_to 'Menu', :controller => 'welcome'  %></td>
<td><%= link_to 'New timesheet', new_timesheet_path %></td>
<td><%= link_to 'Exports', exports_statistics_path %></td>
</tr>
</tbody>
</table>

<h1 style="text-align: center;">Statistics for All Consultants</h1>

<h2 style="text-align: center;"><%= link_to '&lt;&lt;', all_statistics_path(:year => @year-1) %>&nbsp;<%= @year %>&nbsp;<%= link_to '&gt;&gt;', all_statistics_path(:year => @year+1) %></h2>
<table class="stats" style="width: 80%; height: 100px; text-align: left; margin-left: auto; margin-right: auto;">
  <tr>
    <th>Consultant <%= link_to '&darr;', :sort => "1" %> <%= link_to '&uarr;', :sort => "11" %></th>
    <th>Month <%= link_to '&darr;', :sort => "2" %> <%= link_to '&uarr;', :sort => "12" %></th>
    <th>Customer <%= link_to '&darr;', :sort => "3" %> <%= link_to '&uarr;', :sort => "13" %></th>
    <th>Project</th>
    <th colspan="4" class="center">Time</th>
    <th>Total</th>
    <th></th>
  </tr>

<% currid=0 %>
<% curmonth='' %>
<% curcust=0 %>
<% for timesheet in @timesheets %>
  <tr class="<%
    if currid != timesheet.authuser_id and (@sort == '1' or @sort == '11' or @sort == '2' or @sort == '12')
      %>topline <%
    elsif curcust != timesheet.customer_id and (@sort == '3' or @sort == '13')
      %>topline <%
    end %><%= cycle('task-line-odd', 'task-line-even') %>">
    <td>
<% if currid != timesheet.authuser_id %>
      <% currid = timesheet.authuser_id %>
      <%=h timesheet.authuser.fullname %>
<% end %>
    </td>
    <td><%= link_to monthname(timesheet.month), :controller => 'timesheets', :action => 'user', :month => timesheet.month, :year => timesheet.year, :id => currid %></td>
    <td<% if curcust == timesheet.customer_id %> class="repeat"<% end %>>
      <%=h timesheet.customer.name %>
    </td>
    <td><% if not timesheet.project.nil? %><%=h timesheet.project.name %><% end %></td>
    <td class="normal"><%= dhm(timesheet.total_normal) %></td>
    <td class="rate2"><%= dhm(timesheet.total_rate2) %></td>
    <td class="rate3"><%= dhm(timesheet.total_rate3) %></td>
    <td class="travel"><%= dhm(timesheet.total_travel) %></td>
    <td><%= dhm_2(timesheet.total_normal+timesheet.total_rate2+timesheet.total_rate3+timesheet.total_travel) %></td>
    <td><%= link_to 'Show', timesheet %></td>
  </tr>
<% if curcust != timesheet.customer_id %>
    <% curcust = timesheet.customer_id %>
<% end %>
<% if curmonth != timesheet.month %>
    <% curmonth = timesheet.month %>
<% end %>
<% end %>
</table>

<br />
<table class="daygrid" width="100%">
<tr bgcolor='#aaaaaa' style='text-align:center;'>
  <td class='normal'>Normal</td>
  <td class='rate2'>150%</td>
  <td class='rate3'>200%</td>
  <td class='travel'>Travel</td>
</tr>
</table>
<br />
