<h1>Editing timesheet</h1>

<% form_for(@timesheet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :customer_id %><br />
    <%= f.select :customer_id, Customer.find(:all).collect {|u| [ u.name, u.id ] } %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.date_select :year, :discard_day, :discard_month %>
  </p>
  <p>
    <%= f.label :month %><br />
    <%= f.date_select :month, :discard_day, :discard_year %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @timesheet %> |
<%= link_to 'Back', timesheets_path %>
