<table class="topmenu" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td><%= link_to 'Menu', :controller => 'welcome' %></td>
<td><%= link_to 'Timesheets', timesheets_path %></td>
<td><%= link_to 'Edit header', edit_timesheet_path(@timesheet) %></td>
<td><%= link_to_function("Add detail", "Element.show('new-task')")%>
</tr>
</tbody>
</table>

<TABLE STYLE="border: 3px solid black" CELLSPACING=0 COLS=10 RULES=NONE  WIDTH="100%">
	<COLGROUP><COL WIDTH=86><COL WIDTH=86><COL WIDTH=46><COL WIDTH=126><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86></COLGROUP>

	<TBODY>
		<TR>
			<TD COLSPAN=6 WIDTH=86 HEIGHT=23 ALIGN=LEFT><B><FONT FACE="Arial" SIZE=4>  MONTHLY TIME REPORT</FONT></B></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
		</TR>
		<TR>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD ALIGN=CENTER><IMG SRC="/images/inuits.png" /></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
		</TR>
		<TR>
			<TD HEIGHT=16></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
		</TR>
		<TR>
			<TD></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"><b><FONT FACE="Arial">Consultant:</FONT></b></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"><%= @timesheet.authuser.fullname %></TD>
			<TD></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"><B><FONT FACE="Arial">Month:</FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=RIGHT><%= monthname(@timesheet.month) %></TD>
			<TD></TD>
			<TD></TD>
		</TR>
		<TR>

			<TD></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"><b><FONT FACE="Arial">Customer:</FONT></b></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"><FONT FACE="Arial" SIZE=4><BR></FONT></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"><%= @timesheet.customer.name %></TD>
			<TD></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF"><B><FONT FACE="Arial">Year:</FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=LEFT BGCOLOR="#FFFFFF" SDNUM="1033;0;0"></TD>
			<TD STYLE="border-bottom: 1px solid #000000" ALIGN=RIGHT><%= @timesheet.year %></TD>
			<TD></TD>
			<TD></TD>
		</TR>
		<TR>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD ALIGN=LEFT></TD>
		</TR>
		<TR>
			<TD HEIGHT=16></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
		</TR>
		<TR>
			<TD HEIGHT=16></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
			<TD></TD>
		</TR>
	</TBODY>

</TABLE>
<!-- ************************************************************************** -->

<br/>
    <% remote_form_for( :hour, @hour, 
       :url => {:action => :create_hour, :id => @timesheet}, 
    :update => "task-list",
    :position => 'bottom',
    :complete => "Element.hide('new-task')"
    ) do |f| %>

	<table id="task-list" class="ts-hours">
	  <tr><th colspan=2 width="70%"></th><th width="30%" colspan=4>Hours</th></tr>
	  <tr><th>Day</th><th width="60%">Task</th><th id="normal">Normal</th><th id="rate2">150%</th><th id="rate3">200%</th><th id="travel">Travel</th></tr>

	  <tr id="new-task" bgcolor="yellow" style="display:none;">
	    <td><%= f.text_field :day, :size => 3, :tabindex => 1 %></td>
	    <td width="60%"><%= f.text_field :detail, :tabindex => 2 %><%= submit_tag 'Add', :tabindex => 7 %></td>
	    <td><%= f.text_field :normal, :size => 4, :tabindex => 3 %></td>
	    <td><%= f.text_field :rate2, :size => 4, :tabindex => 4 %></td>
	    <td><%= f.text_field :rate3, :size => 4, :tabindex => 5 %></td>
	    <td><%= f.text_field :travel, :size => 4, :tabindex => 6 %></td>
	  </tr>
	  <% for hour in Hour.find(:all, :order => 'day', :conditions => ["timesheet_id=?", @timesheet]) %>
	  <tr class="<%= cycle('task-line-odd', 'task-line-even') %>">
	    <td width="5%"><%= link_to hour.day, :action => 'edit', :controller => 'hours', :id => hour %></td>
	    <td width="60%"><%=h hour.detail %></td>
	    <td><%=h hour.normal %></td>
	    <td><%=h hour.rate2 %></td>
	    <td><%=h hour.rate3 %></td>
	    <td><%=h hour.travel %></td>
	  </tr>
	  <% end %>


	</table>
      
	<table class="ts-total">
	  <tr><th colspan=2 width="70%"><th width="30%" colspan=4></th></tr>
	  
	  <tr align="center">
	    <td colspan=2 align="right">Total</td>
	    <td><%=h @timesheet.total_normal %></td>
	    <td><%=h @timesheet.total_rate2 %></td>
	    <td><%=h @timesheet.total_rate3 %></td>
	    <td><%=h @timesheet.total_travel %></td>
	  </tr>
	</table>
      

<% end %>
    
<br /><br />

<table width="100%">
<tr>
<td>
    <table class="signature">
      <tr><th>Signature Consultant</th><th>Signature Customer</th><tr>
      <tr><td></td><td></td></tr>
    </table>
</td>
<td>
</td>
<td>
    <table class="remarks">
      <tr><th>Remarks</th><tr>
      <tr><td></td></tr>
    </table>
</td>
<table>
