<table class="topmenu" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td><%= link_to 'Menu', :controller => 'welcome' %></td>
<td><%= link_to 'Customers', customers_path %></td>
<td><%= link_to 'Edit', edit_customer_path(@customer) %></td>
</tr>
</tbody>
</table>

 <p>
<table align="center" cellspacing=2>
<tr bgcolor="black"><th><font color="white">Shortname</font></th><th><font color="white">Company name</font></th></tr>
<tr>
  <td><%=h @customer.shortname %></td>
  <td><%=h @customer.name %></td>
</tr>
</table>


