<h1>Editing project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :shortname %><br />
    <%= f.text_field :shortname %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.select :customer_id, Customer.find(:all, :order => :name).collect {|u| [ u.name, u.id ] } %>
  </p>
  <p>
    <%= f.label :fixed_project %><br />
    <%= f.check_box :fixed_project %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>
  </p>
  <p>
    <%= f.label :days %><br />
    <%= f.text_field :days %>
  </p>
  <p>
    <%= f.label :total_cost %><br />
    <%= f.text_field :total_cost %>
  </p>
  <p>
    <%= f.label :cost_per_day %><br />
    <%= f.text_field :cost_per_day %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
