<h1>New timesheet</h1>

<% form_for(@timesheet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :customer_id %><br />
    <% if current_authuser.admin %>
      <%= f.select :customer_id, Customer.find(:all, :order => :name).collect {|u| [ u.name, u.id ] }, :prompt => 'Select a customer'%>
    <% else %>
      <%= f.select :customer_id, Customer.find(:all, :order => :name, :conditions => "name NOT LIKE '_closed_%'").collect {|u| [ u.name, u.id ] }, :prompt => 'Select a customer'%>
    <% end %>
    <%= observe_field :timesheet_customer_id, :url => {:action => :update_project_div},  :with => :timesheet_customer_id %>
  </p>
  <div id="project_div">
  </div>
  <p>
    <%= f.label :month %><br />
    <%= f.select :month, monthnames %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year, :limit => 4 %>
  </p>
  <p>
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks , :rows => 4, :cols => 90 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', timesheets_path %>
